<picture>
{%- for theme in (1..2) reversed -%}
  {%- assign srcset = "" -%}
  {%- for size in (1..4) -%}
    {% capture filename %}assets/img/{{include.name}}{% if theme == 2 %}-dark{% endif %}{% if size > 1 %}@{{ size }}x{%endif%}.png{% endcapture %}
    {%- iffileexists {{filename}} -%}
      {% capture srcset %}{{srcset}}{{filename | prepend: '/' | prepend: site.baseurl }} {{size}}x, {% endcapture %}
    {%- endiffileexists -%}
  {%- endfor -%}
  {%- assign srcset = srcset | split: ", " | join: ", " -%}
  {% if theme == 1 %}
  <img src="https://user-assets.sxlcdn.com/images/625555/FuxC8FFYd-yuzozBabiCn6ZNnI3A.png?imageMogr2/strip/auto-orient/thumbnail/150x25%3E/format/png"/>
  {% comment %}<img src="{{site.baseurl}}/assets/img/{{include.name}}.jpg" srcset="{{srcset}}" />
  {% elsif srcset.size > 0 %}
  <source srcset="{{srcset}}" media="(prefers-color-scheme: dark)" />{% endcomment %}
  {% endif %}
{%- endfor -%}
</picture>